# Expo / builds
.expo/
.expo-shared/
dist/
web-build/
build/

# Si generas nativo con prebuild
ios/
android/

# Secrets / credenciales
.env
.env.*
*.p8
*.p12
*.mobileprovision
google-services.json
GoogleService-Info.plist
*.keystore
*.jks
*.crt
*.key

# Node / editores / SO
node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
