# Expo / React Native
.expo/
.expo-shared/
node_modules/
android/
ios/
web-build/
dist/
build/

# Metro cache
.expo/web/cache/
.expo/cache/

# Logs y OS
*.log
.DS_Store

# Firebase / credenciales
*.env
*.env.*
*.pem
*.p12
*service-account*.json
firebase-service-account.json

# Firebase Functions (si usas /functions)
functions/node_modules/
functions/.env
functions/*.log
